{
  "TOKEN": "MTE4MTI0MTI5OTU0Mjc1MzQ1MA.GEFsm6.DUEcPwD3Z7s0EGT_4omPW_DVzH2XiEd2ztqNgc",
  "MAX_PLAYLIST_SIZE": 100,
  "PRUNING": false,
  "LOCALE": "en",
  "STAY_TIME": 24/7,
  "DEFAULT_VOLUME": 100
}
